<div style="background-color: #d51c4a;">
    <app-header></app-header>
    <div class="about-container">
        <div style="height: 80%; width: 80%; background-color: white; color: black; border-radius: 4px; padding: 30px;
    box-shadow: 0 20px 20px rgb(0 0 0 / 20%);;
    ">
            <h1>About Us</h1>
            Whatever your grocery needs are, We offers the right selection online and in store to suit your taste and
            budget. We’ve got you covered for grocery delivery service to food gifts and baskets. We offer
            easy and convenient ways to buy groceries,
            <h3 style="margin-top: 50px;">Let's talk numbers!</h3>
            <h5>Number of users - {{aboutService.usersCount}} Users</h5>
            <h5>Number of products - {{aboutService.productsCount}} Products</h5>
            <h5>Number of orders submitted - {{aboutService.ordersCount}} Orders</h5>
        </div>
    </div>
</div>